@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Josefin Sans', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 46%, rgba(16,108,128,1) 100%);
  background-repeat: no-repeat;
  color:#fff;
}

/* container style */
.container{
  @apply border max-w-[1000px] mx-auto py-5 px-2;
}

.btn{
  @apply border rounded-lg py-2 px-4 hover:scale-[1.02] mt-4 inline-block;
}


/* .card{
  @apply bg-[rgba( 255, 255, 255, 0.05 )] shadow-[0 8px 32px 0 rgba( 31, 38, 135, 0.37 )] backdrop-blur[4px] rounded-[10px] 
  

} */






